<style>
*,
    *:before,
    *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #81ecec;
    }

    .menu {
        background: #fff;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        position: fixed;
        /*bottom: 25px;*/
        right: 25px;
        cursor: pointer;
        box-shadow: 0 0 0 0px #fff, 0 0 0 0px #fff;
        transition: box-shadow 1s cubic-bezier(0,1.45,.34,.59)
    }

    .menu:hover{
    	box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
    }

    .hamburguer.mobile {
        position: relative;
        display: block;
        background: #000;
        width: 30px;
        height: 2px;
        top: 29px;
        left: 15px;
        transition: .5s ease-in-out;
    }

    .hamburguer.mobile:before,
    .hamburguer.mobile:after {
        background: #000;
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: .5s ease-in-out;
    }

    .hamburguer.mobile:before {
        top: -10px;
    }

    .hamburguer.mobile:after {
        bottom: -10px;
    }

    input {
        display: none;
    }

    input:checked ~ ul{
    	opacity: 1;
    }

    input:checked ~ label .menu{
    	box-shadow: 0 0 0 130vw #fff, 0 0 0 130vh #fff;
    }

    input:checked ~ label .hamburguer.mobile {
        transform: rotate(45deg);
    }

    input:checked ~ label .hamburguer.mobile:before {
        transform: rotate(90deg);
        top: 0;
    }

    input:checked ~ label .hamburguer.mobile:after {
        transform: rotate(90deg);
        bottom: 0;
    }


    ul {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	list-style: none;
    	opacity: 0;
    	
    	transition: box-shadow 1s cubic-bezier(.2,.85,.23,.9);
    }

    a{
    	display: block;
    	margin-bottom: 48px
    	color: #000;
    	font-size: 47px;
    	text-decoration: none;
    }

</style>